<!--<section class="section-homepage-subscribe">
  <div class="container">
    <div class="big-circle">

      get the
      <div class="big"><span>$</span>10</div>
      cupon

    </div>
    <div class="offer-text">
      Sign in for our newsletter and recieve a ten dollars cupon
    </div>
    <div class="email-holder">

      <div class="email-field">

        <form>
          <input class=" required email" name="email" data-placeholder="Enter here your email address..." />
          <button class="newsletter-submit-btn" type="submit" value=""><i class="icon-plus"></i></button>

        </form>

      </div>
    </div>
  </div>
</section>-->
