{% set obCartPositionList = Cart.get() %}

{% if arProductList is not empty %}



  {% set idx = 1 %}
  {% for obProduct in arProductList %}

    {% set obOffer = obProduct.offer.first() %}

    {% if obProduct.preview_image.title is not empty %}
      {% set imageALT = obProduct.preview_image.title %}
    {% elseif obProduct.preview_image.description is not empty %}
      {% set imageALT = obProduct.preview_image.description %}
    {% else %}
      {% set imageALT = obProduct.preview_image.file_name %}
    {% endif %}


    {% if idx == 1 %}
      <div class="row">
    {% endif %}
    <div class="col-6 col-md-4">
      <div class="product-item _shopaholic-product-wrapper" data-product-id="{{ obProduct.id }}">
        {% set obLabelList = obProduct.label.active().sort() %}

        {% if obLabelList.isNotEmpty() == true %}

            {% for obLabel in obLabelList %}
              {% if obLabel.code == 'new' %}
                <div class="dot-badge">
                  <img src="{{ 'assets/images/new.png'|theme }}" alt="new" width="40">
                </div>
              {% endif %}

              {% if obLabel.code == 'hit' %}
                <div class="dot-badge">
                  <img src="{{ 'assets/images/hit.png'|theme }}" alt="хит" width="40">
                </div>
              {% endif %}
            {% endfor %}

        {% endif %}



        <a href="{{ obProduct.getPageUrl('catalog-routing') }}">
          <picture>
            <source type="image/webp" srcset="{{ obProduct.preview_image | resize(220, 220, { 'mode': 'fit', 'quality': '85', 'extension': 'webp' }) }}">
            <img loading="lazy" src="{{ obProduct.preview_image | resize(220, 220, { 'mode': 'fit'}) }}" alt="{{imageALT}}" class="img-fluid m-auto">
          </picture>
          <h2>{{ obProduct.name }}</h2>
        </a>
        {% if obProduct.brand %}
        <div class="tag-line">
          <span>{{ obProduct.brand.name }}</span>
        </div>
        {% endif %}
        {% if obProduct.code %}
        <div class="tag-line">
          <span>Артикул: {{ obProduct.code }}</span>
        </div>
        {% endif %}
        {% if obOffer.quantity > 0 %}
          <div class="text-success small">В наличие</div>
        {% else %}
          <div class="text-danger small">Отсутствует</div>
        {% endif %}
        <div class="price">
          {{ obOffer.price }} {{ obOffer.currency }}
        </div>
        <input type="hidden" name="quantity" value="1">
        <input type="hidden" name="offer_id" value="{{ obOffer.id }}">
        {% partial('components/btnAddCart') obCartPositionList=obCartPositionList obOffer=obOffer %}
        {% if obList.has(obProduct.id) %}
        <a class="add-to-wishlist-btn _btn_wishlist" data-product-id="{{ obProduct.id }}" href="#" title="Удалить из избранного"><i
                class="fa fa-heart" ></i></a>
        {% else %}
        <a class="add-to-wishlist-btn _btn_wishlist pr-3" data-product-id="{{ obProduct.id }}" href="#" title="Добавить в избранное"><i
                class="fa fa-heart-o"></i></a>
        {% endif %}

      </div>
    </div>
    {% if idx == 3 %}
      </div>
      {% set idx = 0 %}
    {% endif %}

    {% set idx = idx + 1 %}
  {% endfor %}

{% endif %}
