<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href='http://fonts.googleapis.com/css?family=Raleway:400,500,700,600,800' rel='stylesheet' type='text/css'>

<title>{{this.page.title}}</title>
<meta name="description" content="{{this.page.description}}">
<meta name="keywords" content="{{ this.page.keywords }}" />
<link rel="canonical" href="{{this.page.canonical}}">

<meta property="og:title" content="{{this.page.title}}">
<meta property="og:description" content="{{this.page.description}}">
<meta property="og:image" content="{{this.page.preview_image_path}}">
<meta property="og:image:alt" content="{{this.page.preview_image_description}}">
<meta property="og:locale" content="ru_RU">
<meta property="og:type" content="website">
<meta property="og:url" content="{{this.page.canonical}}">
